body {
  margin: 0;
  padding: 0;
  padding-top: 65px;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;
}

/* Navbar section css styles - start */

.custom-bg {
  background: rgb(252, 231, 45) !important;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-right: 0;
}

.push-right {
  margin-left: auto;
}

.navbar-brand,
.nav-link {
  font-size: 1.25em;
  font-weight: 500;
  color: black;
}

.nav-link:hover,
#myName:hover {
  color: #57059e;
  border-bottom: 3px solid;
}

#navbarNav {
  margin-left: auto;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* Navbar section css styles - end */

/* AboutMe section css - start */

.new-main-section {
  min-height: calc(105vh - 65px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4a00e0;
  color: white;
}

.new-col1,
.new-col2 {
  width: 50%;
  padding: 2em;
}

.new-col2 {
  padding-right: 0;
}

li::marker {
  color: rgb(252, 231, 45);
}

.colored {
  color: rgb(255, 230, 0);
}

.colored:hover {
  border-bottom: 3px solid;
}

.into-part {
  margin: 1em 0;
}

.about-points {
  font-size: 1.25em;
}

#socials {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  gap: 1em;
}

.socials-holder {
  width: 44px;
  text-align: center;
  background-color: black;
  border-radius: 100%;
}

.fontawesome-icon {
  color: #00d9ff;
  margin: 10px;
}

.socials-holder:hover {
  /* background-color: rgb(255, 230, 0); */
  background-color: #57059e;
  transition: 0.75s;
}

/* AboutMe section css - end */

/* TiltComponent css - start */

.tilt-container {
  width: 80%;
  margin: auto;
  padding-bottom: 2em;
}

.animated-img {
  display: block;
  margin: auto;
  width: 80%;
  height: 75%;
}

/* TiltComponent css - end */

/* media queries start */
@media (min-width: 320px) and (max-width: 414px) {
  .new-main-section {
    flex-direction: column;
  }

  .new-col1,
  .new-col2 {
    width: 100%;
  }

  .new-col1 {
    padding: 0.75em;
    padding-top: 1em;
  }

  .new-col2 {
    padding: 0;
  }

  .into-part {
    font-size: 1.25em;
  }
}
/* media queries end */
